<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creat_form</title>
</head>
<body>
    <div id="container" style="height: 400px; width:600px ;margin: 0 auto;border: 2px solid black;display: flex;justify-content: center ;align-items:center;">
        <form action="/users", method="POST">
            <label for="name" style="font-size: 25px;" >Your Name: </label>
            <input type="text" name="name" id="name" style="font-size: 20px;border: 2px solid black;"><br><br>
            <label for="location"style="font-size: 25px;" >Dojo Location:</label>
                <select name="location" id="location" style="font-size: 20px;">
                <option value="Nablus">Nablus</option>
                <option value="Ramallah">Ramallah</option>
                <option value="jenin">jenin</option>
            </select><br><br>
            <label for="Language"style="font-size: 25px;" >Favorite Language:</label>
            <select name="Language" id="Language" style="font-size: 20px;">
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="Mern">Mern</option>
            </select><br><br>
            <label for="Comment" style="font-size: 25px;">Comment (Optional):</label><br><br>
            <textarea name="Comment" cols="50" rows="5" id="Comment" style="border: 2px solid black;" ></textarea>
            <div class="btn" style="width: 390px;display: flex;justify-content: flex-end;" ><br>
                <input type="submit" value="Button" style="font-size: 20px;background-color: #76a5af;box-shadow: 3px 5px black;">
            </div>
        </form>
    </div>
</body>
</html>